<p> Oups! Il semble que votre lien de confirmation soit tombé dans le passé ! </p>
<p> Pas de panique, vous pouvez en obtenir un nouveau en cliquant sur le lien ci-dessous: </p>
<p><a href="http://localhost:8000/invalid_link/{{id}}"> Obtenir un nouveau lien </a></p>