<p>Bonjour {{ username }} !</p>

<p>Nous tenons à vous informer que votre mot de passe a été mis à jour avec succès.</p>

<p>Si cette modification a été effectuée de votre part, aucune action supplémentaire n'est requise.</p>

<p>Toutefois, si vous n'êtes pas à l'origine de cette modification, nous vous conseillons de vérifier votre compte  <br> 
et de nous contacter immédiatement <a href="mailto:contact@resq18.fr">ici</a> pour sécuriser vos informations.</p>

<p>Cordialement,</p>
<p>L'équipe RESQ18</p>