<p>Bonjour {{ username }} !</p>

<p>La demande de modification de votre adresse email a bien été prise en compte.</p>

<p>Pour finaliser votre demande, veuillez confirmer votre nouvelle adresse e-mail en cliquant sur le lien ci-dessous :</p>

<p><a href="{{ signedUrl }}"> Confirmer mon nouvel email </a></p>

<p>Notez que ce lien expirera dans {{ expiresAtMessageData ['%count%'] }} heures.</p>

<p>Des questions ? N'hésitez pas à nous contacter à l'adresse suivante : <a href="mailto:contact@resq18.fr">contact@resq18.fr</a>.</p>

<p>Cordialement,</p>

<p>L'équipe RESQ18</p>