{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex flex-col w-1/2 mx-auto text-xl">
        <h1 class="text-xl text-center"> Bienvenue sur RESQ18 ! </h1>
        <p class="my-2">Bonjour {{ username }},</p>

        <p class="my-2">Nous sommes ravis de vous accueillir parmi nos utilisateurs.</p>

        <p class="my-2">Pour finaliser votre inscription et activer votre compte, veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :</p>

        {# <p class="my-2"><a href="{{ signedUrl }}"> Confirmer mon email </a></p>

        <p class="my-2">Notez que ce lien expirera dans {{ expiresAtMessageData ['%count%'] }} heures.</p> #}
        <div class="w-fit py-1 px-2 bg-black rounded my-2">
            <a href=" signedUrl " class="text-sm text-white uppercase"> Confirmer mon email </a>
        </div>

        <p class="my-2">Notez que ce lien expirera dans <span class="font-bold">2</span> heures.</p> 

        <p class="my-2">Si vous n'avez pas demandé cette inscription, ignorez simplement cet e-mail.</p>

        <p class="my-2">Si vous avez des questions ou des problèmes, n'hésitez pas à nous contacter à l'adresse suivante : <a href="mailto:contact@resq18.fr">contact@resq18.fr</a>.</p>

        <p class="my-2">Nous vous souhaitons une excellente expérience sur RESQ18 !</p>

        <p class="my-2">Cordialement,</p>

        <p class="my-2">L'équipe RESQ18</p>
    </div>
{% endblock body %}
