<p>Bonjour {{ username }},</p>

<p>Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte.</p> 

<p> Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message en toute sécurité.</p>

<p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous :</p>

<a href="{{ signedUrl }}">Réinitialiser votre mot de passe </a>

<p>Ce lien expirera dans {{ expiresAtMessageData ['%count%'] }} heures.</p>

<p>Si vous avez des questions ou rencontrez des problèmes, n'hésitez pas à contacter notre support <a href="mailto:contact@resq18.fr">ici</a>.</p>

<p>Cordialement,</p>

<p>L'équipe de RESQ18</p>