<p>Bonjour {{ username }} !</p>

<p>Nous avons reçu une demande de modification de votre adresse email. </p> 

<p>Veuillez cliquer sur ce lien pour confirmer qu'il s'agit bien de vous.</p>

<p> <a href="{{ signedUrl }}">Je confirme</a></p>

<p>Si vous n'êtes pas à l'origine de cette demande, nous vous conseillons de modifier immédiatement vos identifiants 
<a href="http://localhost:8000/reset_credentials">ici.</a></p>

<p>Des questions ? N'hésitez pas à nous contacter à l'adresse suivante : <a href="mailto:contact@resq18.fr">contact@resq18.fr</a>.</p>

<p>Cordialement,</p>

<p>L'équipe RESQ18</p>

