{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}
    {{ include ('/navbar.html.twig') }}

    <div class="container mx-auto py-8 w-1/4">
        <form method="post" class="space-y-4">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="titre"> Connectez-vous </h1>

            <div class="space-y-2">
                <label for="username" class="block text-lg font-medium text-gray-700">Email</label>
                <input class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg"
                type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="space-y-2">
                <label for="password" class="block text-lg font-medium text-gray-700">Mot de passe</label>
                <input class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg"
                type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="space-y-2">
                <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white  bg-slate-700 hover:bg-sky-950 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit">
                    Se connecter
                </button>
            </div>    
        </form>
    </div>
{% endblock %}
