
    <h1 class="titre">E-mail de confirmation</h1>

    <p>Hello, Bienvenue sur ResQ18</p>

    <p>Veuillez confirmer votre adresse email en cliquant sur le lien suivant : </p>

    <a href="{{ signedUrl }}">Vérifier mon email </a>

    <p>Ce lien expirera dans {{ expiresAtMessageData ['%count%'] }} heures.</p>

    <p>Merci!</p>
