{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ include ('/navbar.html.twig') }}
    
    <h1 class="text-xl text-center font-bold mt-5">Nouvel Utilisateur</h1>

    {{ include ('registration/_form.html.twig')}}

{% endblock %}